/***********************************************************************
 *  ATLAS FONTS                                                        *
 **********************************************************************/
/* default */
@font-face {
  font-family: 'SancoaleRegular';
  src: url('fonts/SancoaleRegular.otf') format('opentype');
}

/* medium */
@font-face {
  font-family: 'SancoaleMedium';
  src: url('fonts/SancoaleMedium.otf') format('opentype');
}

/* bold */
@font-face {
  font-family: 'SancoaleBold';
  src: url('fonts/SancoaleBold.otf') format('opentype');
}

/* black */
@font-face {
  font-family: 'SancoaleBlack';
  src: url('fonts/SancoaleMedium.otf') format('opentype');
}

.atlas-font {
  font-family: 'SancoaleBold', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto 0;
  /* font-family: 'Poiret', Helvetica, sans-serif; */
  font-family: 'SancoaleRegular', sans-serif;
}

/***********************************************************************
 *  NAVBAR
 **********************************************************************/
.navbar {
  width: 100%;
  z-index: 2;
  background: transparent;
}

.sticky {
  position: fixed;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 5px;
  margin-left: 10px;
}

.main-nav {
  display: none;
  list-style: none;
  margin: 0;
  padding: 10px;
  transition: all 0.8s ease-in;
}

.nav-link {
  padding: 15px 55px;
  text-align: center;
}

.main-nav a {
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}


/* NAV TOGGLE */
.navbar-toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

/* NAV SCROLL */
.nav-scroll {
  background: rgba(150, 54, 148, 1);
  margin: 0;
  transition: all 0.7s ease-in;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}


@media screen and (min-width: 900px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
  }

  .navbar-toggle {
    display: none;
  }

  .logo {
    margin-top: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .navbar {
    /* background: rgba(0, 90, 156, 0.9); */
    background: rgba(205,16,65, 0.9);

    margin: 0;
  }

  .nav-scroll {
    background: rgba(0, 90, 156, 1);
  }

}


/***********************************************************************
 *  MAIN LANDING PAGE
 **********************************************************************/
.main-landing {
  background-image: url(img/background6.jpg);
  background-size: cover;
  height: 100vh;
}

.skew {
  /* width: 1300px; */
  width: 70vw;
  height: 100vh;
  background: rgba(0, 90, 156, 0.6);
  margin-left: -250px;
  color: #fff;
  /* padding: 20px; */
  transform: skewX(-205deg);
  position: absolute;
}

.skew_2 {
  /* width: 1400px; */
  width: 76vw;
  height: 100vh;
  background: rgba(0, 90, 156, 0.6);
  margin-left: -270px;
  color: #fff;
  /* padding: 20px; */
  transform: skewX(-210deg);
  position: absolute;
}

.skew_3 {
  /* width: 1550px; */
  width: 85vw;
  height: 100vh;
  background: rgba(0, 90, 156, 0.6);
  margin-left: -350px;
  color: #fff;
  /* padding: 20px; */
  transform: skewX(-215deg);
  position: absolute;
}

.main-heading {
  margin-top: 40vh;
  margin-left: 20%;
  position: absolute;
  color: #ffffff;
  font-size: 2.5rem;
}

.main-heading h1 {
  margin: 10pt 0;
}

.main-heading h3 {
  font-size: 2rem;
  margin: 5pt 0;
}

.main-action {
  margin-top: 20pt;
}

.main-action .signup {
  /* center the button */
  text-align: center;
  display: inline-block;
  width: 30%;
}

@media only screen and (max-width: 900px) {

  .skew {
    width: 0;
    height: 0;
    background: none;
    margin-left: 0;
    color: #fff;
    /* padding: 20px; */
    transform: unset;
    position: absolute;
  }

  .skew_2 {
    width: 0;
    height: 0;
    background: none;
    margin-left: 0;
    color: #fff;
    /* padding: 20px; */
    transform: unset;
    position: absolute;
  }

  .skew_3 {
    width: 0;
    height: 0;
    background: none;
    margin-left: 0;
    color: #fff;
    /* padding: 20px; */
    transform: unset;
    position: absolute;
  }

  .main-heading {
    margin: 30vh 10% 0 10%;
    font-size: unset;
  }

}

/***********************************************************************
 *  SIGNUP BUTTON
 **********************************************************************/
.signup {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  border-color: #cd1041;
  border-style: solid;
  padding: 10px 30px;
  transition: all 0.3s ease-out;
}

.signup:hover {
  /* background-color: transparent; */
  background-color: rgba(205, 16, 65, 0.9);
  /* color: #cd1041; */
}


@media only screen and (max-width: 900px) {
  .main-landing .signup {
    width: 60%;
  }
}



/***********************************************************************
 *  CONTAINER
 **********************************************************************/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items:center; align individual items */
  text-align: center;
}

/*COUNTDOWN*/
#countdown {
  padding: 35px;
  color: #fff;
  font-size: 2.5rem;
}

/*AGENDA*/
#agenda {
  margin: 30px 150px;
  min-height: 30vh;
}

#agenda .download {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  border-color: #005a9c;
  border-style: solid;
  padding: 10px 30px;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

#agenda .download:hover {
  background-color: #009cdc;
  border-color: #009cdc;
}



/*************************
 * GRID SCHEDULE LAYOUT
 *************************/
@media screen and (min-width:700px) {
  .schedule {
    display: grid;
    grid-gap: 1em;
    grid-template-rows:
      [tracks] 1fr [time-0700] 1fr [time-0730] 1fr [time-0800] 1fr [time-0830] 1fr [time-0900] 1fr [time-0930] 1fr [time-1000] 1fr [time-1030] 1fr [time-1100] 1fr [time-1130] 1fr [time-1200] 1fr
      [time-1230] 1fr [time-1300] 1fr [time-1330] 1fr [time-1400] 1fr [time-1430] 1fr [time-1500] 1fr [time-1530] 1fr [time-1600] 1fr [time-1630] 1fr [time-1700] 1fr [time-1730] 1fr [time-1800] 1fr
      [time-1830] 1fr [time-1900] 1fr [time-1930] 1fr [time-2000] 1fr [time-2030] 1fr [time-2100] 1fr [time-2130] 1fr;
    /* Note 1:
			Use 24hr time for gridline names for simplicity

			Note 2: Use "auto" instead of "1fr" for a more compact schedule where height of a slot is not proportional to the session length. Implementing a "compact" shortcode attribute might make sense for this!
			Try 0.5fr for more compact equal rows. I don't quite understand how that works :)
			*/

    grid-template-columns:
      [times] 4em [track-1-start] 1fr [track-1-end track-2-start] 1fr;
  }
}

.time-slot {
  grid-column: times;
}

/* .track-slot {
  display: none;
  /* hidden on small screens and browsers without grid support */
/*} */

@supports(display:grid) {
  @media screen and (min-width:700px) {
    .track-slot {
      display: block;
      padding: 10px 5px 5px;
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: rgba(255, 255, 255, .9);
    }
  }
}

/* Small-screen & fallback styles */
.session {
  margin-bottom: 1em;
}

@supports(display:grid) {
  @media screen and (min-width: 700px) {
    .session {
      margin: 0;
    }
  }
}

/*************************
 * VISUAL STYLES         *
 *************************/
.session {
  padding: .5em;
  border-radius: 2px;
  font-size: 14px;
  box-shadow:
    rgba(255, 255, 255, .6) 1px 1px 0,
    rgba(0, 0, 0, .3) 4px 4px 0;
}

.session-title,
.session-time,
.session-track,
.session-presenter {
  display: block;
}

.session-title,
.time-slot {
  margin: 0;
  font-size: 1em;
}

.session-title a {
  color: #fff;
  text-decoration-style: dotted;

  &:hover {
    font-style: italic;
  }

  &:focus {
    outline: 2px dotted rgba(255, 255, 255, .8);
  }
}

.track-slot,
.time-slot {
  font-weight: bold;
  font-size: .75em;
}

.track-1 {
  background-color: #544D69;
  color: #fff;
}

.track-2 {
  background-color: #c35500;
  color: #fff;
}

.track-all {
  background: #ccc;
  color: #000;
  box-shadow: none;
}

.text {
  max-width: 750px;
  font-size: 18px;
  margin: 0 auto 50px;
}

.meta {
  color: #555;
  font-style: italic;
}

.meta a {
  color: #555;
}

hr {
  margin: 40px 0;
}






/*SPEAKERS*/
#speakers {
  background-image:
    linear-gradient(to bottom, rgba(0, 156, 220, 0.6), rgba(0, 156, 220, 0.6)),
    url('img/speakers-background.jpg');
  background-size: cover;
  color: #fff;
  padding: 50px;
}

.speaker-flex {
  /* margin: 30px 150px; */
  margin: 30px 50px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.speaker-flex a {
  text-decoration: none;
  color: #fff;
}

.box {
  background-color: white;
  /* border-radius: 50%; */
  border-color: white;
  border-style: solid;
  margin: 0 40px;
  padding: 150px;
  color: black;
  transition: all 0.3s ease-out;
}

.box:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.speaker-one .box {
  background-image: url('img/speakers/Graham_Sherman.jpg');
  background-size: cover;
}

.speaker-two .box {
  background-image: url('img/speakers/James_Cunningham.jpg');
  background-size: cover
}




/* SPONSORS */
#sponsors {
  padding: 50px;
  color: #000;
}

.sponsor-flex {
  /* margin: 30px 150px; */
  margin: 30px 50px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.sponsor {
  padding: 0 20px;
}







@media only screen and (max-width: 900px) {
  #countdown {
    font-size: 1rem;
  }

  #agenda {
    margin: 30px 30px;
  }

  #speakers {
    padding: 10px;
  }
}





/***********************************************************************
 *  FOOTER
 **********************************************************************/
.footer {
  background: rgba(150, 54, 148, 1);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: #ffffff;
  /* -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px; */
}



/* Atlas Colours */
/* #005a9c dark blue
#009cdc light blue
#cd1041 red */
/***********************************************************************
 *  Blue Background
 **********************************************************************/
.dark-blue {
  background: #005a9c;
}

.light-blue {
  background: #009cdc;
}

.atlas-gradient {
  background-image: linear-gradient(to right, #005a9c, #005a9c, #cd1041);
}

.red {
  background: #cd1041;
}
















/* .zone { */
/* padding:30px 50px;
  margin:40px 60px; */
/* cursor:pointer; */
/* color:#FFF; */
/* font-size:2em;
  border-radius:4px;
  border:1px solid #bbb;
  transition: all 0.3s linear;
  z-index: 1;
} */

/* .zone:hover {
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */